# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
env/
.venv/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.whl

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.manifest
*.spec

# macOS specific files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Spotlight files
.Spotlight-V100

# Trash files
.Trashes

# Files that might appear on external disks
.VolumeIcon.icns
.fseventsd

# IDE files (e.g., VS Code, PyCharm)
.vscode/
.idea/